*   {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    display:flex;
    gap: 24px;px;
    list-style: none;
    background-color: #1f2937;
    align-items: center;
    padding: 16px 200px
}
.nav a  {
    text-decoration: none;
    color: #e5e7eb;
    font-size:18px;
}
.logo {
    color: #f9faf8;
    font-size:24px;
    font-weight: bold;
}

.hero {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    background-color: #1f2937;
}
.hero-text {
    max-width: 450px;
}
.hero h1 {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8
}
.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 16px 0;
}
.hero button {
    background-color:#3882f6;
    color:white;
    border:none;
    padding: 8px 32px;
   border-radius: 8px;
   font-size:16px;
}

.hero-image {
    background-color: #6b7280;
    color:white;
    width:500px;
    height:250px;

    display:flex;
    align-items:center;
    justify-content: center;
}